#root {
  background-color: #333;
}

.resume {
  text-align: left;
}

.resume h2,
h1 {
  color: #17a2b8;
}

.resume p,
span {
  color: #f8f9fa;
}

.App {
  text-align: center;
}

.project-img {
  max-width: 95%;
}

.resume {
  text-align: left;
}

.Container {
  margin: 00px auto;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
}

.card {
  max-width: 18rem;
  margin: 5px;
}

#hero {
  margin: auto;
  height: 40vw;
  max-height: 450px;
  width: 100%;
  background-image: url("./assets/pexels-valdemaras-d-1647962.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  padding: 25px;
  text-align: left;
  background: rgba(20, 20, 20, 0.8);
  border-radius: 15px;
  width: 80%;
  max-width: 1200px;
  height: fit-content;
}

.footer {
  background: #343a40;
}

footer {
  margin-top: 0px;
}

.carousel-item > img {
  margin: auto;
}

.carousel {
  margin: auto;
  width: 80%;
  background: #222;
}
.carousel-indicators > button {
  background: grey;
  margin: 10px;
  width: 45px;
  outline: none;
  border: none;
  height: 7px;
}

.carousel-indicators > button.active {
  background: #007bff;
}

.container-fluid {
  max-width: 1400px;
}

.d-flex {
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  .col-2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .App {
  }
  #hero {
    height: 60vw;
  }

  .Container {
    max-width: 95%;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .col-2 {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .App {
  }

  #hero {
    margin: auto;
    height: 80vw;
  }

  .Container {
    max-width: 95%;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-fluid {
    display: block;
  }

  .col-2 {
    display: none;
  }
}

/*-----------------------------------------*/

.carousel-control-next,
.carousel-control-prev {
  background: none;
  outline: none;
  border: none;
}
